* {
    box-sizing: border-box;
    border: 0;
}

button {
    padding: 10px 50px;
    margin-top: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#encryptForm input[type="text"]{
    border-bottom: 5px solid rgb(15, 1, 98);
}

#encryptForm button{
    border: 2px solid rgb(15, 1, 98);
    color: rgb(15, 1, 98);
}

#decryptForm input[type="text"]{
    border-bottom: 5px solid purple;
}

#decryptForm button{
    border: 2px solid purple;
    color: purple;
}

#parentDiv {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 1220px;
    text-align: center;
    margin: 0 auto;
}

#encryptDiv {
    width: 600px;
    border: 5px dashed rgb(15, 1, 98);
    margin: 0 auto;
    padding: 30px;
}

#decryptDiv {
    width: 600px;
    border: 5px dashed purple;
    margin: 0 auto;
    padding: 30px;
}

h2 {
    width: 100%;
}
